:root {
  --primary-color: #4ad295;
  --text-color: #374957;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
}

html {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.player {
  position: relative;
  max-width: 390px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 390px;
  border-bottom: 1px solid #ebebeb;
  z-index: 1000;
}

/* HEADER */
header {
  text-align: center;
  /* margin-bottom: 10px; */
}

header h4 {
  font-size: 16px;
  font-weight: 400;
  color: #5f7d95;
}

header h2 {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 2px;
}

/* CD */
.container-cd {
  border-top: 5px solid #4ad295;
  border-left: 5px solid #4ad295;
  width: fit-content;
  margin-bottom: 8.25px;
  border-radius: 50%;
  display: flex;
  margin: auto;
}
.cd {
  display: flex;
  margin: auto;
  width: 192px;
  padding: 8px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* time */

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  gap: 76px;
  color: #374957;
  margin-bottom: 21px;
  margin-top: 4px;
}

/* CONTROL */

.container-control {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* padding: 18px 0 18px 0; */
}

.control .btn {
  color: #1d262d;
  /* padding: 18px; */
  font-size: 25px;
}

.control .btn.btn-repeat,
.control .btn.btn-random {
  color: #5f7d95;
}
.control .btn:hover {
  border-radius: 50%;
  /* background-color: #ccc; */
  line-height: 54px;
  cursor: pointer;
  opacity: 0.7;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 18px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #08192b;
}
.control .btn-toggle-play:hover {
  background-color: #08192b;
  opacity: 0.7;
}

.containner-progress {
  width: 100%;
  display: none;
  justify-content: center;
}

.progress {
  width: 84%;
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* PLAYLIST */
.playlist {
  margin-top: 450px;
  padding: 16px;
  background-color: #fff;
}

.thumb {
  position: relative;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 8px 14px 8px 12px;
  border-radius: 36px;
  /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); */
  transition: all 0.5s ease 0s;
  background: #eff3f6;
  border: none;
}
.active-song,
.song:hover {
  /* box-shadow: 1px 3px 95px -19px rgb(0 0 0 / 63%);
  -webkit-box-shadow: 1px 3px 95px -19px rgb(0 0 0 / 63%);
  -moz-box-shadow: 1px 3px 95px -19px rgba(0, 0, 0, 0.63); */
  transform: scale(1.03);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border: 1px solid #e5e5e5; */
}

.btn-thumb-play,
.btn-thumb-pause {
  display: none;
}
.btn-thumb-play {
  z-index: 1;
}
.btn-thumb-pause {
  width: 46px;
  height: 46px;
  background-image: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/icon-playing.gif);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}
.song.active-song .btn-thumb-pause,
.song:hover .btn-thumb-pause,
.song.active-song .btn-thumb-play,
.song:hover .btn-thumb-play {
  /* content:"\f04b";
    font-family:"Font Awesome 6 Free";
    font-weight: 900; */
  /* display: inline-block; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
/* .song:hover .btn-thumb-play,
  .song.active-song .btn-thumb-play{
    display: inline-block;
  } */

.song.active {
  /* background-color: var(--primary-color); */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.song:active {
  opacity: 0.8;
}

.song.active .watch-list,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-size: cover;
}
.song .thumb:hover {
  opacity: 0.5;
  cursor: pointer;
}
.song .body {
  flex: 1;
  padding: 0 12px;
}

.song .title {
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  color: var(--text-color);
  line-height: 24px;
  margin-bottom: 2px;
}

.song .author {
  font-size: 12px;
  color: #5f7d95;
  line-height: 16px;
}

.song .watch-list {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease 0.2s;
}
.song .watch-list:hover {
  /* background-color: #ccc; */
  /* color: #fff; */
  cursor: pointer;
}

.song .watch-list .watch-list__time {
  font-size: 12px;
  font-weight: 400;
  color: #5f7d95;
}

.watch-list-active {
  color: #ec3a3b;
}

.active-song {
  /* border: 1px solid #e5e5e5; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.active-song .title,
.active-song .watch-list {
  color: #4ad295 !important;
}

.btn-group {
  z-index: 999;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.btn-group .btn-item {
  font-size: 16px;
  border: none;
  background-color: #fff;
  font-weight: 400;
  padding: 4px 16px;
  cursor: pointer;
  line-height: 24px;
  color: #5f7d95;
  border: 0.5px solid #5f7d95;
  border-radius: 16px;
  width: 84px;
}

.btn-group .btn-item.active {
  color: var(--primary-color);
  background: #08192b;
  /* border-bottom: 4px solid var(--primary-color); */
}
.lyrics {
  margin-top: 448px;
  padding: 12px;
  display: none;
  background-color: #fff;
  text-align: center;
}

.show-watch-list {
  border: none;
  font-size: 28px;
  background-color: transparent;
}
.show-watch-list.active {
  color: #ec3a3b;
}
